/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2018, 11:22:26 AM
    Author     : daond
*/
body {
    padding: 0px;
}
#main {
    font-family: 'Arial';
}
/*Dashboard*/
.title-backend {
    line-height: 43px;
    color: white !important;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}
.backend-main{
    width: 100%;
    height: 100%;
}
.backend-main-left{
    width: auto;
    height: 100%;
    float:left;
}
.backend-main-right {
    width: auto;
    width: calc(100% - 190px);
    float: left;
    /*padding: 10px;*/
}

.nav-user > div .user-menu.z-menubar {
    border-left: none !important;
}
.nav-user > div .user-menu.z-menubar .z-menu-selected > .z-menu-content, 
.nav-user > div .user-menu.z-menubar .z-menu-content:active {
    border-radius: 0 !important;
}

/*viettx BE*/
.labelNote{
    color:red; font-style: italic;
}
.groupboxFull{
    height: 100% !important;
    overflow: auto;
}
.labelSucces{
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
.image{
    max-width: 50px;
    max-height: 50px;
}
.image-view{
    max-width: 100px;
    max-height: 100px;
}
.z-button, .z-button:focus {
    color: white;
    background-color: #438eb9;
    border: none;
}
.z-button:hover{
    background-color: #2b7dbc;
    border: none;
    color: white;
    /*color: #c4313d;*/
}
.gallery {
    margin: 0px 30px;
}

.imageDiv {
    display: inline-block;
    position: relative;
    width: 125px;
    height: 75px;
    margin: 30px 30px 0 0;
    border: 3px solid #DDDDDD;  
} 
.imageDiv:hover,.imageDiv:focus {
    border: 2px solid blue;  
} 
.title-image{
    text-align: center;
}
.image-select{
    border: 2px solid blue; 
}
.image-deselect{
    border: none; 
}
.txt-disable{
    border: none;
    background: #FFFFFF;
    color: black;
    text-align: center;
    margin-top: 5px;
    height: 100%;
    width: 100%;
}
.txt-enable{
    border: 2px solid silver;
    background: transparent;
    margin-top: 5px;
    height: 100%;
    width: 100%;
}
.btn-back{
    border: 1px solid silver;
    border-radius: 53px;
    height: 40px;
}
.div-search{
    text-align: right;
    height: 40px;
    margin-right: 10px;
    /*width: 60%;*/
}
.div-button{
    height: 40px;
    /*border: 1px solid red;*/
    margin-top: 10px;
    /*width: 40%;*/
}
.div-upload{
    /*    border: 1px solid silver;
        border-radius: 5px;*/
    margin-top: 2px;
    padding-bottom: 2px;
}
